.row{
  margin:0px!important;
}
.wrapper .footer{
  width: 100% !important;
  max-width: 100% !important;
}
b{
  font-weight: bold !important;
}
.navbar ul{
	display:flex;
	font-size:16px;
	margin-top: 15px;
	font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  font-weight: 500;

}
.navbar ul li{
		margin:10px 6px;
		list-style-type:none;		
}
.navbar ul li a:hover,
.navbar ul li a:active
{
	color:#1181B1 !important;
}
@media only screen and (min-width: 1024px) {
  .navbar {
  	float: right;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu.drop {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid #e7e7e7;
  padding: 2px 8px;
  font-family: monospace;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.drop .dropdown-item {
    display: block;
    width: 0% !important; 
}
.dropdown:hover .dropdown-menu {display: block;}

.snip1135 a {
  padding: 0.5em 0;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 10px;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}
.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}

/* Footer */
.footer {
    background: #e1f2f7;
    padding: 100px 30px 6px;
}
#footer-margin-bottom{
  margin-bottom: 50px !important;
}
.footer h4{
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer ul.lists {
  list-style-type: none;
  margin-left: -20px;
}
.footer ul.lists li{
  padding: 6px 0px;
  font-size: 14px;

}
.footer ul.lists li:hover{
  padding: 6px 8px;
  transition: all 0.8s;
  color: black;
}
.footer p, address{
  margin-top: 20px;
  font-size: 12px;
}

/* footer social icons */

.footer ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

.footer ul.social-network li {
  display: inline;
  margin: 0 5px;
}
.footer-form input[type = email] {
 height: 0px !important;
 border-radius: 0px !important;
 padding: 0px !important;  
 margin: 0px !important;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoYoutube:hover {
  background-color: #F80000;
}
.social-network a.icoInsta:hover {
  background-color: #D22D81;
}
.social-network a.icoWhatsapp:hover {
  background-color: #29AD00;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoInsta:hover i,
.social-network a.icoWhatsapp:hover i {
  color: #fff;
}

/*.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}*/

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
/* Appointment */
input[type=text],
input[type="tel"],
input[type="date"],
input[type = email]
{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 5px;
    margin: 2px 0px 20px 0px !important;
    color: #717171;
    width: 100%;

}
select{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    margin: 5px 0px 0px 0px;
    background: white;
    width: 100%;
    color: #717171;
}

input[type = submit]{
    padding: 15px 50px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background: #37b4d0;
    border: 0px;
    border-radius: 30px;
    margin-top: 20px;
}
/*@media only screen and (max-width: 1023px) {
 .app-form textarea{
    width:270px;
  }
}*/
.app-form label,
.faq label{
  margin-right: 15px;
  font-size: 15px;
  color: #4A859E;
  margin-bottom: 15px;
}
::placeholder {
  color: grey;
  font-size: 14px;
}
 textarea{
  border: 1px solid #d2d2d2;
    border-radius: 5px;
  width:100%;
}
/*edit */
.post-edit-link{
  display: none;
}

hr{
  margin-bottom: 0px !important;
}
#calendar_wrap{
      width: 100%;
    height: 310px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 1px #80808045;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-size: 15px;
}
.elementor-widget-wrap table tr th{
  padding:  10px;
  font-size: 14px;
}
.elementor-widget-wrap table tr td{
  padding: 8px;
  font-size: 13px;
}
.is-search-submit{
  display: none !important;
}
.is-search-form label{
  width: 100%;
}
.elementor-widget-wrap h3{
  font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
    color:#4A859E;
}
.elementor-widget-wrap ul li
{
    list-style-type: none;
    font-size: 16px;
    color: #feffff  ;
    padding: 10px 0px;
    border-bottom: 1px dotted #d6d6d6;
    margin: 0px 0px 5px -40px;
}
.elementor-widget-wrap ol li{
  margin-left: -40px;
}
#recent-posts-3 ul,
#recent-comments-2 ul {
  border: 1px solid white;
    box-shadow: 1px 1px 5px 1px #80808045;
    padding: 20px 18px;
    font-size: 10px;
    border-radius: 10px;
}
#recent-posts-3 ul li,
#recent-comments-2 ul li{
  font-size: 14px;
  margin-left: 0px; 
}
li.recentcomments {
  color: #3c3c3c !important;
}
body{
  color: #3c3c3c;
}
