.row{
  margin:0px!important;
}
/*body{
  font-family: "Libre Franklin", Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}*/
b, strong{
  font-weight: bold !important;
}
/*<-- Header Menu add using theme -->*/
.navbar ul{
    display: flex;
    margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
  .navbar ul{
    display: inline;
  }
}
.navbar ul li{
		list-style-type:none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;		
    margin-top: 25px;
    margin-right: 17px;
    font-family: "Libre Franklin", sans-serif;
    text-transform: uppercase;
}
.navbar ul li a:hover,
.navbar ul li a:active
{
	color:#1181B1 !important;
}
@media only screen and (min-width: 1024px) {
  .navbar {
  	float: right;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu.drop {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid #e7e7e7;
  padding: 2px 8px;
  font-family: monospace;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-item-1604 ul.sub-menu{
    display: none;
    position: absolute;
    background: white;
    visibility: hidden;
    opacity: 0;
    margin-left: -64px;
    padding: 10px 20px;
    box-shadow: 2px 2px 12px -5px #5b5858;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 83px;
    transition: all 9.35s ease;

}
.menu-item-1604:hover .sub-menu{
    display: inline;
    opacity: 1;
    visibility: visible;
    z-index: 50;

}
#menu-item-1604.menu-item-has-children{
  height: 100%;
}
.menu-item-1604 ul.sub-menu li{
  margin: 2px 5px;
}
.top-margin-0{
  margin-top: 0px;
}
@media only screen and (max-width: 768px) {
  ul.sub-menu{
    display: inline;
  }
}
@media only screen and (max-width: 768px) {
  .menu-item-has-children:hover .sub-menu{
    visibility: visible;
    position: static;
    opacity: 0;
  }
}
.dropdown-item {
     padding: 0px 10px !important; 
     font-weight: 700 !important;
     font-size: 14px;
     color: #505255 !important;
}
.navbar-light .navbar-toggler{
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
.drop .dropdown-item {
    display: block;
    width: 0% !important; 
}
.dropdown:hover .dropdown-menu {display: block;}

.snip1135 a {
  padding: 0.5em 0;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: -24px;
  display: block;
  height: 4px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}
.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}
.header-icon {
  display: flex;
  margin-left: -70px;
  list-style-type: none;
}
.social-circle.header-icon li a{
  display: inline-block;
  width: auto;
  padding: 0px 10px;
  margin: 28px 4px;
  margin-bottom: 0px !important;
}
@media only screen and (max-width: 768px){
  .header-icon {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 769px) {
 .header1 .col-sm-3,
 .header1 .col-sm-6{
    width: 100% !important;
    flex: 100%;
    max-width: 100%;
  }
}
/*<-- //Header Menu add using theme -->*/


/* Footer */
.footer {
    background: #4A859E;
    padding: 100px 30px 6px;
}
#footer-margin-bottom{
  margin-bottom: 50px !important;
}
.footer h4{
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer ul.lists {
  list-style-type: none;
  margin-left: -20px;
}
.footer ul.lists li{
  padding: 6px 0px;
  font-size: 14px;
  color:#fbfbfb;

}
.footer ul.lists li:hover{
  padding: 6px 8px;
  transition: all 0.8s;
  color: #000000;
}
.footer p, address{
  margin-top: 20px;
  font-size: 12px;
  color: white
}
.footer a {
  color: white;
}
/* footer social icons */

.footer ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

.footer ul.social-network li {
  display: inline;
  margin: 0 3px;
}
.footer-form input[type = email] {
 height: 0px !important;
 border-radius: 0px !important;
 padding: 0px !important;  
 margin: 0px !important;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoYoutube:hover {
  background-color: #F80000;
}
.social-network a.icoInsta:hover {
  background-color: #D22D81;
}
.social-network a.icoWhatsapp:hover {
  background-color: #29AD00;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoInsta:hover i,
.social-network a.icoWhatsapp:hover i {
  color: #fff;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
/* Appointment */
input[type=text],
input[type="tel"],
input[type="date"],
input[type = email]
{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding: 5px;
    margin: 2px 0px 20px 0px !important;
    color: #717171;
    width: 100%;

}
select{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    margin: 5px 0px 0px 0px;
    background: white;
    width: 100%;
    color: #717171;
}

input[type = submit]{
    padding: 15px 50px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background: #37b4d0;
    border: 0px;
    border-radius: 30px;
    margin-top: 20px;
}
.wpcf7-form-control{
  font-size: 14px;
}
/*@media only screen and (max-width: 1023px) {
 .app-form textarea{
    width:270px;
  }
}*/
.app-form label,
.faq label{
  margin-right: 15px;
  font-size: 15px;
  color: #4A859E;
  margin-bottom: 15px;
}
::placeholder {
  color: grey;
  font-size: 14px;
}
 textarea{
  border: 1px solid #d2d2d2;
    border-radius: 5px;
  width:100%;
}
/*edit */
.post-edit-link{
  display: none;
}

hr{
  margin-bottom: 0px !important;
}
.my-first-widget .calendar_wrap{
      width: 100%;
    height: 365px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 1px #80808045;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    font-size: 15px;
}
.my-first-widget table tr th{
  padding:  10px;
  font-size: 14px;
}
.my-first-widget table tr td{
  padding: 8px;
  font-size: 13px;
}
.my-first-widget .is-search-submit{
  display: none !important;
}
.my-first-widget .is-search-form label{
  width: 100%;
}
.my-first-widget h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
    color:#4A859E;
}
.my-first-widget ul li
{
    list-style-type: none;
    font-size: 16px;
    color: #feffff  ;
    padding: 10px 5px;
    border-bottom: 1px dotted #d6d6d6;
    margin: 0px 0px 5px -40px;
}
.my-first-widget ol li{
  margin-left: -40px;
}
.my-first-widget #recent-posts-3 ul,
.my-first-widget #recent-comments-2 ul {
  border: 1px solid white;
    box-shadow: 1px 1px 5px 1px #80808045;
    padding: 20px 35px;
    font-size: 10px;
    border-radius: 10px;
}
.my-first-widget #recent-posts-3 ul li,
.my-first-widget #recent-comments-2 ul li{
  font-size: 14px;
  margin-left: 0px; 
}
.my-first-widget li.recentcomments {
  color: #3c3c3c !important;
}
.my-first-widget li.tribe-events-list-widget-events{
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px #80808045;
  border-left: 4px solid #4A859E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tribe-event-duration
{
    color: #444 !important;
    margin-top:10px;
    font-size: 13px;


}
h4.tribe-event-title a{
  color: #4A859E !important;
  font-size: 14px;
  font-weight: 400;

}

.woocommerce .single-product p, b, .woocommerce-result-count, .orderby{
    font-size: 14px;

}

.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.clients .testimonial-field.testimonial-name{
    color: white !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    margin-top: 35px;
    text-align: center;

}
.clients .testimonial-content p{
  font-size: 30px;
    line-height: 44px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.strong-view.pager-style-buttons.clients .wpmslider-pager-link:before{
  color: white !important;
}
.clients .readmore-page a{
  color: white !important;
  font-size: 14px;
    text-align: center;
}

.clients .testimonial-heading{
  display: none;
}
.clients{
  text-align: center;
}
.header-slider h3.testimonial-heading{
  font-weight: 200!important;
  color: #578E96;
}

.strong-view.pager-style-buttons.about-test .wpmslider-pager-link:before{
  color: black !important;
}
.about-test .testimonial-inner{
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
}
.about-test .testimonial-heading{
  display: none;
}
.about-test .testimonial-name{
 padding-left: 65px;
 padding-top: 16px;
}
.about-test .testimonial-company{
   padding-left: 65px;
}
.about-test .testimonial-image{
  margin-top:-54px !important;
}
.about-test .custom-content{
    font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
    color: #4A859E;
}
.about-test .strong-rating span.star:before{
  color: #4A859E;
  padding:0px 1px;
  font-size: 16px;
}
.strong-view.simple.about-test  .testimonial-inner{
  padding: 10px 20px;
  margin-top: 3px;
}
.about-test .testimonial-name{
  font-size: 14px;
  color: #4A859E;
  font-weight: 600;
}
.about-test .testimonial-company{
font-size: 13px;
}
.clients .testimonial-image {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
}
@media (min-width: 1024px) and (max-width: 1025px){
  .clients .testimonial-image {
    left: 110px;
  }   
}
@media only screen and (min-width: 1025px) {
  .clients .testimonial-image {
    left: 210px;
  }   
}

/*<-- about page -->*/
.counter-class .elementor-counter-number-wrapper, 
.counter-class .elementor-counter-title{
  float: left;
  text-align: left !important;
}
.counter-class .elementor-counter-title{
  margin-top: 15px; 
}
/*Contact page*/
.contact-map{
  border:5px solid white;
  border-radius: 3px;
}
.elementor-widget-tabs .elementor-tab-desktop-title{
  padding: 20px 6px !important;
    border-right: 1px solid #c8c8c8 !important;
    border-top: 1px solid #c8c8c8 !important;
}
.border-fifty .elementor-image-box-img img{
  border-radius: 50px;
}
.Post-slider .testimonial-inner .testimonial-content{
  box-shadow: 1px 1px 10px 0px #8080805e;
  border-radius: 10px;
}
.Post-slider .testimonial-inner .testimonial-content p{
      font-weight: 500;
    margin: 18px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Libre Franklin", Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.Post-slider figure img{
  margin-bottom: 20px;
}